/* esercizio 1 */
.ex-1-square:hover {
  background-color: red;
}

/* esercizio 2 */
.ex-2-square:active {
  width: 100%;
}

/* esercizio 3 */
.ex-3-square:hover {
  border-radius: 100%;
}

/* esercizio 4 */
.ex-4-square:hover {
  visibility: hidden;
  opacity: 0;
}

/* esercizio 5 */
.ex-5-square:hover {
  margin: 0;
  width: 130px;
  height: 130px;
}

.ex-5-square:active {
  margin: 40px;
  width: 30px;
  height: 30px;
}
